h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

.perfil {
  width: 50%;
  padding-top: 50px;
  color: #FFFFFF;
  background-color: #8841DA;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50em;
}
.perfil__nombre, .perfil__minibio h2 {
  text-align: center;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding-top: 5px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(51, 51, 51, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.estadistica--perfil {
  display: flex;
  width: 50%;
  height: 90px;
  padding-top: 15px;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.5);
  color: #333333;
  background-color: #FFFFFF;
}
.estadistica--perfil h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica--perfil span {
  font-size: 12px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  width: 50%;
  height: 90px;
  margin: 30px auto 0 auto;
  padding: 20px 0 0 50px;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.5);
  color: #333333;
  background-color: #FFFFFF;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  padding-right: 10px;
  font-size: 40px;
  color: #3f579a;
}
.ubicacion--perfil h2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.ubicacion--perfil h3 {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.galeria {
  width: 60%;
  height: 250px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.5);
  color: #333333;
  background-color: #FFFFFF;
}
.galeria__foto-principal {
  float: left;
  margin-right: 10px;
}
.galeria__fotos-adicionales img {
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.galeria h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.galeria img {
  border-radius: 10px;
}

.articulos {
  width: 40%;
  padding: 50px 0 0 50px;
}

.articulo {
  margin-bottom: 75px;
  border-bottom: 3px solid #8841DA;
}
.articulo__categoria {
  font-weight: 500;
  font-size: 16px;
  color: #8841DA;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__titulo {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin-bottom: 30px;
  padding-right: 100px;
}

/*# sourceMappingURL=ejercicio-sass.css.map */
